<!DOCTYPE html>

<html lang="en">
    <head>
        <style> 
                body {
                    /*background-image: url('http://www.clker.com/cliparts/0/f/b/8/1197091304272882353carlitos_Cartoon_Landscape.svg.hi.png');*/
                    background-image: url('https://i.imgur.com/anC2gla.png');
                        /*background-image: url(background.png);*/
                    /*background-image: url(/../background.png);*/
                    /*background-size: contain;*/
                    background-size: 100% 100%;
                    /*filter: blur(8px);*/

 
/*  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');*/
  /*background-image: url('https://www.bhg.com.au/media/20033/woman-watering-plants.jpg');*/

  /*background-size: 100% ;*/
  }
        </style>

        {# Style sheets and favicon - included on all pages #}
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/general.css"/>

        {# Page specific CSS injection point #}
        {% block stylesheets %}{% endblock %}     
    </head>


    <body style = "display: flex; align-items: center; justify-content: center;">
        
        {# Container which holds the rest of the page content #}
        <div class="container">
            {# This is where the 'content' block is injected #}
            {% block content%}{% endblock %}
            {% block container %}

                {# This is where we displayed 'flashed' messages #}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            {% endblock %}
        </div>

        {# Javascript that's included on all pages #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        {# Page specific JS injection point #}
        {% block scripts %}{% endblock %}
    </body>

</html>